/* reset */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", 'Helvetica Neue', sans-serif;
}

body{
    background-color: #f6f5f3;
}

/* /reset */

.mb_10{
    margin-bottom: 10px;
}

.mb_20{
    margin-bottom: 20px;
}


/* header */

#title {
    font-family: "Nerko One";
    font-weight: 500;
    font-size: 3rem;
    color: #ff9614;
    text-shadow: 1px 1px 2px #595959;
  }
  
header{
    background-color: #ffffff;
    text-align: center;
}

/* /header */



/* main */

main{
    padding: 0 20px;
}

h1{
    color: #4e3969;
    font-weight: 900;
}

h4{
    font-weight: 100;
    font-size: small;
    color: #c9b9a7;
}

.hidden_title{
    display: none;
}
/* /main */









/* sezione responsive */

 /* @media screen and (min-width:576px){

    body{
        background-color: red;
        position: relative;
    }

    header{
        width: 100%;
        position: fixed;
        z-index: 1;
        display: flex;
        justify-content: center;
    }

}      */

@media screen and (min-width:768px){
    body{
        /* background-color: green; */
    }
    
    header{
        display: flex;
        justify-content: left;
        padding-left: 25px;
    }

    #title{
        font-size: 4rem;
    }

    .hidden_title{
        display: inline;
    }

    main{
        padding:0 40px;
    }

}

@media screen and (min-width:992px){
    body{
        /* background-color: blue; */
    }

    #title{
        font-size: 5rem;
    }
}

/* /sezione responsive */