/* reset */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", 'Helvetica Neue', sans-serif;
    font-weight: 800;
}

/* /reset */

/* header */

#nerko-one-regular {
    font-family: "Nerko One";
    font-weight: 500;
    font-size: 4rem;
    color: #ff9614;
    text-shadow: 1px 1px 2px #595959;
  }

/* /header */
  
