/* reset */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", 'Helvetica Neue', sans-serif;
}

body{
    background-color: #f6f5f3;
}

/* /reset */

.mb_10{
    margin-bottom: 10px;
}

.mb_20{
    margin-bottom: 20px;
}


/* header */

#title {
    font-family: "Nerko One";
    font-weight: 500;
    font-size: 4rem;
    color: #ff9614;
    text-shadow: 1px 1px 2px #595959;

  }
  
header{
    background-color: #ffffff;
    text-align: center;
}

/* /header */



/* main */

main{
    padding: 0 20px;
}

h1{
    color: #4e3969;
    font-weight: 900;
    font-size: xx-large;
}

h2{
    margin-bottom: 30px;
}

h4{
    font-weight: 100;
    color: #c9b9a7;
}

ul{
    list-style: none;
    line-height: 26px;
    font-size: 18px;
}

.container{
    max-width: 100%;
    background-color: #ffffff;
    box-shadow: lightgrey 1px 1px 40px;
}

.hidden_title{
    display: none;
}

.image{
    width: 100%;

}

.info{
    padding: 40px;
}
/* /main */









/* sezione responsive */

 /* @media screen and (min-width:576px){

    body{
        background-color: red;
        position: relative;
    }

    header{
        width: 100%;
        position: fixed;
        z-index: 1;
        display: flex;
        justify-content: center;
    }

}      */

@media screen and (min-width:768px){
    
    header{
        display: flex;
        justify-content: left;
        padding-left: 25px;
    }

    #title{
        font-size: 5rem;
    }

    .hidden_title{
        display: inline;
    }

    main{
        padding:0 10%;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        line-height: 60px;
    }

    li{
        width: calc(100% / 3);
    }

}

@media screen and (min-width:992px){

    main{
        margin-top: 60px;
        padding: 0 20%;
    }

    #title{
        font-size: 6rem;
    }

    .container{
        display: flex;
    }
    .image{
        width: 100%;
        height: 100%;
    }

    .info{
        width: 30%;
    }

    ul{
        line-height: 30px;
        flex-direction: column;
    }

    li{
        width: 100%;
    }
   
}

/* /sezione responsive */